:root {
  --component-font-size: 1rem;
  --component-height: calc(var(--component-font-size) * 2);
  --component-border-radius: 0px;
}

.text-link {
  text-decoration: inherit;
  color: white;
}

.text-link:hover {
  color: #42a5f5;
  transition-property: color;
  transition-duration: 0.5s;
}

.text-link:active {
  color: #0077c2;
  transition-property: color;
  transition-duration: 0.5s;
}

.list-link {
  display: block;
  text-decoration: inherit;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.list-link:hover {
  background-color: #42a5f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.list-link:active {
  background-color: #0077c2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button {
  min-width: calc(var(--component-font-size) * 6);
  min-height: var(--component-height);
  border: none;
  border-radius: var(--component-border-radius);
  background-color: #85bb5c;
  color: white;
  font-size: var(--component-font-size);
  text-transform: uppercase;
  padding: 0px;
  margin: 10px;
}

.button:hover {
  background-color: #558b2f;
  cursor: pointer;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:active {
  background-color: #255d00;
  transition-property: background-color, cursor;
  transition-duration: 0.5s;
}

.button:disabled {
  background-color: #455a64;
  color: #cfd8dc;
}

.button-label {
  margin-left: 10px;
}

.label {
  margin-right: 10px;
}

.input, .textarea {
  height: var(--component-height);
  align-self: center;
  border: none;
  outline: 1px solid #e0e0e0;
  border-radius: var(--component-border-radius);
  font-size: var(--component-font-size);
  padding: 0px 10px;
}

.input:hover, textarea:hover {
  outline: 1px solid #85bb5c;
}

.input:focus, textarea:focus {
  outline: 3px solid #85bb5c;
  transition-property: outline;
  transition-duration: 0.5s;
}

.input:autofill, .input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: #85bb5c;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.script-title {
  padding: 20px;
  align-self: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.script-border {
  height: 2px;
  background-color: white;
  margin: 0px 10px 10px 10px;
}

.note {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.note>ul {
  padding-left: 20px;
}

.note>ul[title]::before {
  content: attr(title);
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  margin: 10px;
}

.note>ul>li {
  font-size: 1rem;
  padding: 10px;
  color: rgba(255, 255, 255, 0.75)
}